#main {
	pading-bottom: 30%;
	background: #ccc;
	
}
h1 {
	border: 2px grey;
	padding-left: 15%;
	color: red;
}
table {
	padding-left : 10%;
	border: 5px red;
}

td {
	color: green;
	
	
}